/*
 * Globals
 */


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/*
 * Blog posts
 */

.report {
  margin-bottom: 60px;
}
.date{
  margin-bottom: 20px;
  color: #999;
}

.report img{
	height: 400px;
	margin: 20px; 
}

.sections-list li{
	border-bottom: 1px solid blue;
	margin-bottom: 25px;
	list-style-type: none;
}

.section-title{
	text-decoration: none;
	font-size: 20pt;
	text-align: center;
	
}