#main{
    /*position: absolute;*/
    margin-left: 3%;
    top: 20%;
    padding: 2%;
    width: 90%;
    border: 1px solid black;
    font-size: 200%;
    float:left;
    clear: both;
}

#main h2{
    font-size: 100%;
}

#main .inputs {
    display: block;
    font-family: sans-serif;
    font-size: 120%;
    box-shadow: none;
    border-radius: none;
    padding-top:10px;
    padding-bottom: 10px;
    border: solid 1px #dcdcdc;
}

#main input[type="text"] {
    width: 100%;
}

#main input[type="text"]:focus,
#main input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 2px 1px #969696;
}o

#main input[type="number"]:focus,
#main input[type="number"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 2px 1px #969696;
}

#main textarea:focus,
#main textarea.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 2px 1px #969696;
}

#picture_add{
    float:right;
    width:15%;
}

#main #name_and_pic_div{
    width:100%;
}

#main #name_and_pic_div #name_div{
    width:80%;
}

#main #prep_div {
    width: 45%;
    float: left;
}

#main #prep_div input[type="number"] {
    width: 45%;
    float: left;
}

#main #prep_div select {
    width: 45%;
    float: right;
    margin: 0px;
    height: auto;
}

#main #serving_size {
    width: 45%;
    float: right;
}

#main #serving_size input[type="number"]{
    float: left;
    width: 15%;
}

#main #serving_size div {
    padding: 1%;
}

#main #add_ingredient {
    width: 60%;
    float: left;
}

#main #quantity {
    width: 40%;
    float: right;
}

#main #quantity #quantity_def{
    width: 65%;
    float: left;
}

#main #quantity #quantity_def input[type="number"] {
    width: 47%;
    float: left;
}

#main #quantity #quantity_def input[type="text"] {
    width: 47%;
    float: right;
}

#main #quantity button {
    width: 30%;
    float: right;
    height: auto;
    margin: 0px;
}

#main #added_ingredients #names {
    width: 60%;
    float: left;
}

#main #added_ingredients #quantities {
    width: 40%;
    float: right;
}

textarea {
    width: 100%;
}