#coupon_description{
    width: 100%;
    text-align: center;
}

#coupon{
    margin: 10% 25%;
    width: 50%;
}

#coupon_rightarrow{
    position:absolute;
    top:30%;
    right:5%;
    width: 10%;
    height: 30%;
    margin: 0px 2%;
}

#coupon_leftarrow{
    position:absolute;
    top:30%;
    left:5%;
    width: 10%;
    height: 30%;
    margin: 0px 2%;
}