#cookie_popup{
    position: absolute;
    top: 270px;
    left: 20px;
    width: 300px;
    border: 1px solid #2D7FB4;
    z-index: 999999999999;
    background-color: white;
    display: none;
}   


#cookie_popup ul{
    list-style-type: none;
    margin-right: 25px;
}

#cookie_popup li{
    border-bottom: 1px solid black;
    font-size: 18pt;
}

#cookie_popup li a{
    text-decoration: none;
    font-size: 18pt;
    color: black;
}

#listDiv{
    margin-left: 5%;
    width: 90%; 
}

#listDiv h2{
    float: left;
    clear: left;
}

.listItem{
    /*position: absolute;*/
    float:center;
    clear:both;
    left: 5%;
    width: 100%;
    height: 6%;
    border: .5px solid black;
}


.listItem h2{
    font-size: 15pt;
    text-indent: 15px;
}

.listItem .coupons{
    float:right;
    font-size: 12pt;
    margin-right: 10%
}

.listItem input[type=image]{
    height: 15px;
    width: 30px;
}

.listItem a{
    text-decoration: none;
    color: #2D7FB4;
}

#listItem_one{
    /*left: 0px;*/
    top: 35%;
}

#listItem_two{
    /*position:absolute;*/
    /*left: 0px;*/
    top: 41%;
}

#listItem_three{
    /*left: 0px;*/
    top: 47%;
}

#listItem_four{
    /*left: 0px;*/
    top: 53%;
}

#listItem_five{
    /*left: 0px;*/
    top: 59%;
}

#listItem_six{
    /*left: 0px;*/
    top: 65%;
}

#listItem_seven{
    /*left: 0px;*/
    top: 71%;
}

#listItem_eight{
    /*left: 0px;*/
    top: 77%;
}

#listItem_nine{
    /*left: 0px;*/
    top: 83%;
}

#listItem_ten{
    /*left: 0px;*/
    top: 89%;
}

#listItem_eleven{
    /*left: 0px;*/
    top: 95%;
}