#cookie_popup{
    position: absolute;
    top: 270px;
    left: 20px;
    width: 300px;
    border: 1px solid #2D7FB4;
    z-index: 999999999999;
    background-color: white;
    display: none;
}   


#cookie_popup ul{
    list-style-type: none;
    margin-right: 25px;
}

#cookie_popup li{
    border-bottom: 1px solid black;
    font-size: 18pt;
}

#cookie_popup li a{
    text-decoration: none;
    font-size: 18pt;
    color: black;
}

#listDiv{
    margin-left: 5%;
    width: 90%; 
}

#listDiv h2{
    float: left;
    clear: left;
}

.listItem{
    /*position: absolute;*/
    float:center;
    clear:both;
    left: 5%;
    width: 100%;
    height: 6%;
    border: .5px solid black;
}


.listItem h2{
    font-size: 30pt;
    text-indent: 15px;
    font-weight: normal;
}

.listItem .coupons{
    float:right;
    font-size: 24pt;
    margin-right: 10%
}

.listItem input[type=image]{
    height: 15px;
    width: 30px;
}

.listItem a{
    text-decoration: none;
    color: #2D7FB4;
}