
body {
    font-family: "Calibri", arial, verdana;
}



#screen 
{
    position: relative;
    margin: 0 auto;
    width: 600px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 900px;
}


#header {
    position:absolute;
    top: 0px;
    left: 0px;
    width:600px;    
    height:100px;
    line-height: 50px;
    border-bottom:1px solid #000000;
    background-color: #2D7FB4;
}

#header h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 32pt;
    
}

#menu_button{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;
}

#menu_button img{
    height: 60px;
    width: 60px;
}

#menu{
    position: absolute;
    top: 150px;
    width: 300px;
    height: 350px;
    border: 1px solid #2D7FB4;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: 999999999999;
    background-color: yellow;
    display: none;
}   


#menu ul{
    list-style-type: none;
    margin-right: 25px;
}

#menu li{
    border-bottom: 1px solid black;
    font-size: 18pt;
}

#menu li a{
    text-decoration: none;
    font-size: 18pt;
    color: black;
}

button, select{
    height: 60px;
    width: 200px;
    font-size: 18pt;
    background-color: #2D7FB4;
    color: #FFFFFF;
    margin: 20px;
}



#top_button_one{
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 0;
}

#top_button_two{
    position: absolute;
    top: 100px;
    right: 0px;
}

#bottom_button_one{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#bottom_button_two{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#form{
    position: absolute;
    left: 0px;
    top: 170px;
    margin: 20px;
}

#form button{
    height: 50px;
    width: 60px;
    font-size: 10pt;
    background-color: #2D7FB4;
    color: #FFFFFF;
}

#form input[type=text]{
    width: 400px;
    height: 50px;
    font-size: 15pt;
}

.meal{
    position: absolute;
    width: 560px;
    height: 180px;
    margin: 20px;
    border: 1px solid black;
}

.meal img{
    width: 200px;
    height: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
}


.meal h2{
    font-size: 15pt;
    text-indent: 150px;
}

.meal .coupons{
    position: absolute;
    left: 250px;
    top: 50px;
    font-size: 12pt;
}

.meal .servings{
    position: absolute;
    left: 250px;
    top: 80px;
    font-size: 12pt;
}

.meal button{
    position: absolute; 
    right: -20px;
    top: -20px;
    width: 100px;
    height: 180px;
}

#meal_one{
    left: 0px;
    top: 270px;
}

#meal_two{
    left: 0px;
    top: 475px;
}

#meal_three{
    left: 0px;
    top: 680px;
}

#meal_title{
    position: absolute;
    left: 0px;
    top: 160px;
    font-size: 30pt;
    text-indent: 150px;
}

#ingredients{
    position: absolute;
    left: 0px;
    top: 240px;
    width: 560px;
    height: 520px;
    margin: 20px;
    border: 1px solid #2D7FB4;
}

.ingredient{
    width: 500px;
    height: 50px;
    margin: 30px;
    border: 1px solid #2D7FB4;
}

.ingredient p{
    display: inline;
    line-height: 50px;
    font-size: 25pt;
}

.ingredient input[type=image]{
    height: 30px;
    width: 30px;
    margin: 20px;
}

#ingredient1 input[type=image]{
    position: absolute;
    top: 20px;
    right: 15px;

}

#ingredient2 input[type=image]{
    position: absolute;
    top: 100px;
    right: 15px;
}

#ingredient3 input[type=image]{
    position: absolute;
    top: 180px;
    right: 15px;
}

#ingredient4 input[type=image]{
    position: absolute;
    top: 260px;
    right: 15px;

}

#ingredient5 input[type=image]{
    position: absolute;
    top: 340px;
    right: 15px;
}

#ingredient6 input[type=image]{
    position: absolute;
    top: 420px;
    right: 15px;
}







.listItem{
    position: absolute;
    width: 600px;
    height: 50px;
    border: .5px solid black;
}


.listItem h2{
    font-size: 15pt;
    text-indent: 15px;
}

.listItem .coupons{
    position: absolute;
    left: 300px;
    top: 0px;
    font-size: 12pt;
}

.listItem input[type=image]{
    height: 15px;
    width: 30px;
}

#listItem_one{
    left: 0px;
    top: 290px;
}

#listItem_two input[type=image]{
    position:absolute;
    left: 0px;
    top: 340px;
}

#listItem_three{
    left: 0px;
    top: 390px;
}

#listItem_four{
    left: 0px;
    top: 440px;
}

#listItem_five{
    left: 0px;
    top: 490px;
}

#listItem_six{
    left: 0px;
    top: 540px;
}

#listItem_seven{
    left: 0px;
    top: 590px;
}

#listItem_eight{
    left: 0px;
    top: 640px;
}

#listItem_nine{
    left: 0px;
    top: 690px;
}

#listItem_ten{
    left: 0px;
    top: 740px;
}

#listItem_eleven{
    left: 0px;
    top: 790px;
}

#listItem_twelve{
    left: 0px;
    top: 840px;
}

#listItem_thirteen{
    left: 0px;
    top: 890px;
}





.preferenceItem{
    position: absolute;
    width: 600px;
    height: 50px;
    border: .5px solid black;
}


.preferenceItem h2{
    font-size: 15pt;
    text-indent: 15px;
}

.preferenceItem input[type=image]{
    height: 15px;
    width: 30px;
    margin: 20px;
}

#preferenceItem_one input[type=image]{
    left: 0px;
    top: 100px;
}

#preferenceItem_two{
    left: 0px;
    top: 150px;
}

#preferenceItem_three{
    left: 0px;
    top: 200px;
}

#preferenceItem_four{
    left: 0px;
    top: 250px;
}

#preferenceItem_five{
    left: 0px;
    top: 300px;
}

#preferenceItem_six{
    left: 0px;
    top: 350px;
}



#coupon_description{
    position: absolute;
    left: 100px;
    top: 250px;
}

#coupon{
    position: absolute;
    left: 100px;
    width: 400px;
    top: 400px;
    height: 300px;
}

#coupon_rightarrow{
    position: absolute;
    left: 500px;
    width: 90px;
    top: 400px;
    height: 300px;
}

#coupon_leftarrow{
    position: absolute;
    left: 10px;
    width: 90px;
    top: 400px;
    height: 300px;
}