
body {
    font-family: "Calibri", arial, verdana;
}

#header {
    /*position: absolute;*/
    float:right;
    clear:right;
    top: 0px;
    width:92%;    
    height:8%;
    border-bottom:1px solid #000000;
    background-color: #2D7FB4;
}

#header #title_div{
    text-align: center;
    float:center;
    color: #FFFFFF;
    font-size: 100px;
    font-size:450%;
}

#menu_button{
    float:left;
    clear:left;
/*    top: 2%;
    left: 1.5%;*/
    width: 8%;
}

#menu_button img{
    width: 100%;
}

#menu{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 425px;
    height: 500px;
    border: 1px solid #2D7FB4;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: 999999999999;
    background-color: AliceBlue;
    display: none;
}   


#menu ul{
    list-style-type: none;
    margin-right: 25px;
}

#menu li{
    border-bottom: 1px solid black;
    font-size: 38pt;
    padding: 5px;
}

#menu li a{
    text-decoration: none;
    font-size: 38pt;
    color: black;
}

#menu select{
    width: 320px;
}

select{
    height: 60px;
    width: 200px;
    font-size: 38pt;
    background-color: #2D7FB4;
    color: #FFFFFF;
    margin: 20px;
}


#search_button{
    font-size: 300%;
    width: 20%;
    margin-left: 2.5%;
}

button{
    font-size: 100%;
    background-color: #2D7FB4;
    color: #FFFFFF;
}

.nav_button{
    width: 25%;
    height: 100%;
    font-size: 300%;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
}

#top_buttons{
    /*position: absolute;*/
    /*top: 10%;
    height: 8%;
    width: 100%;*/
}

#top_button_one{
    float:left;
    /*clear:left;*/
}

#top_button_two{
    float:right;
    /*clear:right;*/
}

#bottom_buttons{
    /*position: fixed;*/
    /*bottom:0;*/
    height: 8%;
    width: 100%;
}

#bottom_button_one{
    /*position: absolute;
    left: 0px;*/
    float:left;
    clear:left;
}

#bottom_button_two{
    /*position: absolute;
    right: 0px;*/
    float:right;
    clear:right;
}

#form {
    /*position: absolute;*/
    position: relative;
    float:center;
    clear:both;
    left: 5%;
    top: 25%;
    width: 90%;
    height: 5%;
    margin-bottom: 1%
}

#search_form input[type="text"]{
    height: 135%;
    font-size: 300%;
    width: 75%;
}

#form input[type="text"] {
    height: 135%;
    font-size: 300%;
}


.preferenceItem{
    position: absolute;
    width: 600px;
    height: 50px;
    border: .5px solid black;
}


.preferenceItem h2{
    font-size: 15pt;
    text-indent: 15px;
}

.preferenceItem input[type=image]{
    height: 15px;
    width: 30px;
    margin: 20px;
}

#preferenceItem_one input[type=image]{
    left: 0px;
    top: 100px;
}

#preferenceItem_two{
    left: 0px;
    top: 150px;
}

#preferenceItem_three{
    left: 0px;
    top: 200px;
}

#preferenceItem_four{
    left: 0px;
    top: 250px;
}

#preferenceItem_five{
    left: 0px;
    top: 300px;
}

#preferenceItem_six{
    left: 0px;
    top: 350px;
}



