#heightpre{
    margin-top: 5%
}

.preferenceItem{
    width: 80%;
    border: 2px solid black;
    margin-left: 5%;
    padding: 0% 5%;
}

.preferenceItem h3{
    font-size: 300%;
    text-indent: 5%;
}


.subPreferenceItem{
    width: 80%;
    border: 2px solid black;
    margin-left: 5%;
    padding: 0% 5%;
}


.subPreferenceItem h3{
    font-size: 250%;
    text-indent: 5%;
}

#floatl{    

    float:left;


}

#floatr{
    float:right;
    padding-top: 30px;
    margin:10px;

}

#radio-choice-1{
    font-size:50%;
}