#heightpre{
    margin-top: 5%
}

.preferenceItem{
    width: 80%;
    border: 2px solid black;
    margin-left: 5%;
    padding: 0% 5%;
}

.preferenceItem h3{
    font-size: 300%;
    text-indent: 5%;
}


.subPreferenceItem{
    width: 600px;
    border: .5px solid black;
}


.subPreferenceItem h3{
    font-size: 15pt;
    text-indent: 30px;
    left:0px;
}

#floatl{
    float:left;


}

#floatr{
    float:right;
    padding-top: 30px;
    margin:10px;

}